{% extends "main.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br />
	<h1 class="page-header">Board</h1>
	<hr style="border-color: black;">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>creatorname</th>
					<th>title</th>
					<th>views</th>
					<th>created_date</th>
					<th>updated_date</th>
				</tr>
			</thead>
			<tbody>
				{% for i in boards%}
				<tr>
					<td>{{i.id}}</td>
					<td>{{i.creatorname}}</td>
					<td>{{i.title}}</td>
					<td>{{i.views}}</td>
					<td>{{i.created_date}}</td>
					<td>{{i.updated_date}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
