{% extends "main.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br />
	<h1 class="page-header">Login History</h1>
	<hr style="border-color: black;">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>username</th>
					<th>request_url</th>
					<th>remote_address</th>
					<th>error_log</th>
					<th>login_time</th>
				</tr>
			</thead>
			<tbody>
				{% for i in loginhistories%}
				<tr>
					<td>{{i.username}}</td>
					<td>{{i.request_url}}</td>
					<td>{{i.remote_address}}</td>
					<td>{{i.error_log}}</td>
					<td>{{i.login_time}}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
{% endblock %}
