<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="@gureks">
	<title>Dashboard | Flask-ERP</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/dashboard">Flask-ERP</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/settings">Settings</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<h3>Hi, {{data.username}}</h3>
				<h4>Account type: {{ session['type'] }}</h4><br />
				<ul class="nav nav-sidebar">
					<li class="active"><a href="/dashboard">Overview <span class="sr-only">(current)</span></a></li>
                    {% if session['type']|string() == "admin" %}
					<li><a href="/admin/users">Users</a></li>
					{% endif %}
					<li><a href="/profiles">Profiles</a></li>
					<li><a href="/settings">Settings</a></li>
					<li><a href="/products">Products</a></li>
					{% if session['type']|string() == "admin" %}
					<li><a href="/newproduct">New Product</a></li>
					<li><a href="/addproduct">Add Product</a></li>
					{% endif %}
					<li><a href="/showproductstatus">Show Product Status</a></li>
					<li><a href="/showproductstock">Show Product Stock</a></li>
					<li><a href="/items">Items</a></li>
					{% if session['type']|string() == "admin" %}
					<li><a href="/newitem">New Item</a></li>
					{% endif %}
					<li><a href="/recipes">Recipes</a></li>
                    {% if session['type']|string() == "admin" %}
					<li><a href="/newrecipe">New Recipe</a></li>
                    <li><a href="/filelist">File List</a></li>
					{% endif %}
					<li><a href="/showboard">Show Board</a></li>
                    {% if session['type']|string() == "admin" %}
					<li><a href="/activeloginsession">Active Login Session</a></li>
					<li><a href="/loginhistory">Login History</a></li>
					{% endif %}
					<li><a href="/help">Help</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>							
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<script>
		$('.navbar-brand').click(function(e) {
			var h = $(this).attr('href');

			// Check browser support
			if (typeof(Storage) !== "undefined") {
				// Store
				localStorage.setItem("is_active_button", h);
				// Retrieve
			} else {
				alert("Sorry, your browser does not support Web Storage...");
			}

		});
	</script>
	<script>
		$('.nav li').click(function(e) {
			$('.nav.nav-sidebar').removeClass('active');
			e.stopPropagation();
			$(this).addClass('active');
			var h = $("a",this).attr('href');

			// Check browser support
			if (typeof(Storage) !== "undefined") {
				// Store
				localStorage.setItem("is_active_button", h);
				// Retrieve
			} else {
				alert("Sorry, your browser does not support Web Storage...");
			}
		});
	</script>

	<script>
		$(document).ready(function(){
			var storage_href = localStorage.getItem("is_active_button");
			
			$('.nav.nav-sidebar li').each(function(i){
				var classname = $(this).attr('class');
				if(classname == 'active'){
					$(this).removeClass('active');
				}

				var href = $(this).children('a').attr('href');
				if(String(href) == String(storage_href)){
					$(this).addClass('active');
					return;
				}
			});
		});
	</script>

</body>
</html>
