{% extends "main.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br />
	<h1 class="page-header">Update User</h1>
	<hr style="border-color: black;">
	{% if alert %}
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Heads, up!</strong> {{ alert }}
	</div>
	{% endif %}
	<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>username</th>
						<th>type</th>
						<th>time_created</th>
						<th>time_updated</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{user.username}}</td>
						<td>{{user.type}}</td>
						<td>{{user.time_created}}</td>
						<td>{{user.time_updated}}</td>
					</tr>
				</tbody>
			</table>

	</div>

	<div class="row">
		<form class="form-signin" action="/changesettings" method="POST">
			<input type="hidden" name="selected_username" value="{{user.username}}">
			<h3 class="form-signin-heading" id="center">Change Username</h3>
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" value="{{user.username}}">
			<h3 class="form-signin-heading" id="center">Change Password</h3>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" value="{{user.password}}">
			
			<button class="btn btn-primary btn-block" type="submit">Save Changes</button>
		</form>
	</div>

	<div class="form-signin">
		<button class="btn btn-primary btn-block" onclick="document.location = '{{ url_for('deleteuser', username=user.username)}}';">
			Delete
		</button>
	</div>

	<button class="btn btn-primary" type="button" onclick="document.location = '{{ url_for('users')}}';">
			Previous
	</button>
</div>
{% endblock %}