{% extends "main.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br />
	<h1 class="page-header">Update Product Status</h1>
	<hr style="border-color: black;">
	{% if alert %}
	<div class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Heads, up!</strong> {{ alert }}
	</div>
	{% endif %}
	<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>id</th>
						<th>product_id</th>
						<th>target_quantity</th>
						<th>quantity</th>
						<th>unit</th>
						<th>person_in_charge</th>
						<th>facility_id</th>
						<th>created_date</th>
						<th>status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{productstatus.id}}</td>
						<td>{{productstatus.product_id}}</td>
						<td>{{productstatus.target_quantity}}</td>
						<td>{{productstatus.quantity}}</td>
						<td>{{productstatus.unit}}</td>
						<td>{{productstatus.person_in_charge}}</td>
						<td>{{productstatus.facility_id}}</td>
						<td>{{productstatus.created_date}}</td>
						<td>{{productstatus.status}}</td>
					</tr>
				</tbody>
			</table>
	</div>

	<form class="form-signin" action="/updateproductstatus/{{productstatus.id}}/" method="POST">
		<br/>
		<h3 class="form-signin-heading" id="center">Quantity</h3>
		<label for="InputQuantity" class="sr-only"></label>
		<input type="number" id="InputQuantity" name="quantity">
		<h3 class="form-signin-heading"></h3>
		<button class="btn btn-primary btn-block" type="submit">Update</button>
	</form>

	<form class="form-signin" action="/updateproductstatus/{{productstatus.id}}/" method="POST">
		<h3 class="form-signin-heading"></h3>
		<label for="IsCommitId" class="sr-only"></label>
		<input type="hidden" id="IsCommitId" name="IsCommit" value="True">
		<button class="btn btn-primary btn-block" type="submit">Commit</button>
	</form>

	<form class="form-signin" action="/updateproductstatus/{{productstatus.id}}/" method="POST">
		<h3 class="form-signin-heading"></h3>
		<label for="IsCancelCommitId" class="sr-only"></label>
		<input type="hidden" id="IsCancelCommitId" name="IsCancelCommit" value="True">
		<button class="btn btn-primary btn-block" type="submit">Cancel Commit</button>
	</form>

	<button class="btn btn-primary" type="button" onclick="document.location = '{{ url_for('showproductstatus')}}';">
		Previous
	</button>

</div>
{% endblock %}