{% extends "main.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br />
	<h1 class="page-header">List of users</h1>
	<hr style="border-color: black;">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>type</th>
					<th>time_created</th>
					<th>time_updated</th>
				</tr>
			</thead>
			<tbody>
				{% for i in users%}
				<tr>
					<!-- username -->
					<td>{{i[0]}}</td>
					<!-- type -->
					<td>{{i[1]}}</td>
					<!-- time_created -->
					<td>{{i[2]}}</td>
					<!-- time_updated -->
					<td>{{i[3]}}</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
{% endblock %}
